.main_slide {
    height: 100%;
    width: 100%;
    position: relative;
}
.main_slide {
    background-color: #181818;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* ------------------------------------------------- */
/* FirstSlideComp */
/* ------------------------------------------------- */
#main_slide_1 {
    background-image: url(../img/main_slide_1.png);
    z-index: 100;
}

.nested_1 {
    height: 100%;
    width: 100%;
    position: relative;
}
.nested_1 {
    background-color: #181818;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#nested_1_1 {
    background-image: url(../img/nested_1_1.png);
}
#nested_1_2 {
    background-image: url(../img/nested_1_2.png);
}
#nested_1_3 {
    background-image: url(../img/nested_1_3.png);
}
#nested_1_4 {
    background-image: url(../img/nested_1_4.png);
}

/* ------------------------------------------------- */
/* SecondSlideComp */
/* ------------------------------------------------- */
#main_slide_2 {
    background-image: url(../img/main_slide_2.png);
    z-index: 200;
}

/* ------------------------------------------------- */
/* ThirdSlideComp */
/* ------------------------------------------------- */
#main_slide_3 {
    background-image: url(../img/main_slide_3.png);
    z-index: 300;
}

.slide_skeleton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.slide_skeleton {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}
.slide_skeleton { height: 90vh; }

.slide_3_content {
    margin-top: 12.5vh;
    flex-grow: 1;
}
.slide_3_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ------------------------------------------------- */
/* MainSlideTitle */
/* ------------------------------------------------- */
.main_title {
    font-family: "GOST type A";
    font-size: 12.5vh;
    text-align: center;
}
.main_title_for_slider {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

/* ------------------------------------------------- */
/* FirstSlideContentComp */
/* ------------------------------------------------- */
.first_content {
    height: 72.5vh;
    width: calc(100% - 80px);
}
.first_content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 17.5vh;
}

.content_block {
    display: flex;
    justify-content: space-between;
}

.video_block {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}
.video_block > iframe {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

@media (min-width: 1280px) {
    .content_block { flex-direction: row; }
    .content_block {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .first_content { max-width: 1440px; }
    .first_content_video { width: 61%; }
    .first_content_desc { width: 36%; }
}
@media (max-width: 1280px) and (min-width: 768px) {
    .content_block {
        height: 100%;
        flex-direction: column;
    }
    .first_content { max-width: 720px; }
    .first_content_video { width: 100%; }
    .first_content_desc {
        flex-grow: 1;
        margin-top: 5vh;
    }
}
@media (max-width: 768px) {
    .content_block {
        height: 100%;
        flex-direction: column;
    }
    .first_content_video { width: 100%; }
    .first_content_desc {
        flex-grow: 1;
        margin-top: 5vh;
    }
}

.first_content_video {
    box-shadow: 0 0 45px white;
}
.first_content_desc {
    font-family: 'Montserrat Medium';
    color: white;
    text-shadow: 0 0 15px #d0d0d0;
}
.first_content_desc {
    padding: 20px;
    border: 5px solid #d0d0d0;
    border-radius: 45px;
    opacity: 75%;
    background-color: black;
}





