.main_slide {
    height: 100%;
    width: 100%;
    position: relative;

    background-color: #181818;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* ------------------------------------------------- */
/* FirstSlideComp */
/* ------------------------------------------------- */
#main_slide_1 {
    background-image: url(../img/main_slide_1.png);
    z-index: 100;
}

.nested_1 {
    height: 100%;
    width: 100%;
    position: relative;

    background-color: #181818;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#nested_1_1 {
    background-image: url(../img/nested_1_1.png);
}
#nested_1_2 {
    background-image: url(../img/nested_1_2.png);
}
#nested_1_3 {
    background-image: url(../img/nested_1_3.png);
}
#nested_1_4 {
    background-image: url(../img/nested_1_4.png);
}

/* ------------------------------------------------- */
/* SecondSlideComp */
/* ------------------------------------------------- */
#main_slide_2 {
    background-image: url(../img/main_slide_2.png);
    z-index: 200;
}

/* ------------------------------------------------- */
/* ThirdSlideComp */
/* ------------------------------------------------- */
#main_slide_3 {
    background-image: url(../img/main_slide_3.png);
    z-index: 300;
}

/* ------------------------------------------------- */
/* MainSlideTitle */
/* ------------------------------------------------- */
.main_slide_title {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-family: "GOST type A";
    font-size: 12.5vh;
}

/* ------------------------------------------------- */
/* FirstSlideContentComp */
/* ------------------------------------------------- */
.first_content {
    height: 65vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 17.5vh;
}
.first_content {
    display: flex;
    justify-content: space-between;
}

.first_content_video {
    display: flex;
    flex-direction: column;
    border: 2px solid orange;
}
.first_content_video > iframe {
    height: 100%;
    width: 100%;
    border: 2px solid yellow;
}

@media (min-width: 720px) {
    .first_content {
        width: calc(100% - 80px);
        max-width: 1360px;
        flex-direction: row;
    }
    .first_content_video { width: 61%; }
    .first_content_desc { width: 36%; }
}

@media (max-width: 720px) {
    .first_content {
        width: calc(100% - 80px);
        flex-direction: column;
    }
    .first_content_video { width: 100%; }
    .first_content_desc { width: 100%; }
}

.first_content { border: 2px solid red; }
.first_content_video { border: 2px solid green; }
.first_content_desc { border: 2px solid blue; }







