@font-face {
    font-family: 'GOST type A';
    src: url('./fonts/GOST_Type_A/gost_type_a.svg'); /* IE 9 Compatibility Mode */
    src: url('./fonts/GOST_Type_A/gost_type_a.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('./fonts/GOST_Type_A/gost_type_a.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/GOST_Type_A/gost_type_a.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('./fonts/GOST_Type_A/gost_type_a.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/GOST_Type_A/gost_type_a.svg#gost_type_a') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
    font-family: 'Montserrat Medium';
    src: url('./fonts/Montserrat_Medium/montserrat_medium.eot'); /* IE 9 Compatibility Mode */
    src: url('./fonts/Montserrat_Medium/montserrat_medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('./fonts/Montserrat_Medium/montserrat_medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/Montserrat_Medium/montserrat_medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('./fonts/Montserrat_Medium/montserrat_medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/Montserrat_Medium/montserrat_medium.svg#montserrat_medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

/* ------------------------------------------------- */
/* App */
/* ------------------------------------------------- */
.app {
    height: 100vh;
}